<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">GraysList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ titleText }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="addTask(createId(), title, interval, createRefreshDate(time, interval, repeatDay))">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input name="title" [(ngModel)]="title" type="text"></ion-input>
          </ion-item>
          <ion-radio-group name="interval" [(ngModel)]="interval">
            <ion-list-header>
              <ion-label>Repeats</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Never</ion-label>
              <ion-radio slot="start" [value]= 0></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Daily</ion-label>
              <ion-radio slot="start" [value]= 1></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Weekly</ion-label>
              <ion-radio slot="start" [value]= 7></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-row>
            <ion-col  no-padding size="5">
              <ion-list-header *ngIf="interval === 7 || interval == 1">
                <ion-label>At</ion-label>
              </ion-list-header>
              <ion-item *ngIf="interval === 7 || interval === 1">
                <ion-datetime placeholder="12:00 am" name="time" [(ngModel)]="time" displayFormat="h:mm a"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col no-padding size="7">
                <ion-list-header *ngIf="interval === 7">
                  <ion-label>On</ion-label>
                </ion-list-header>
                <ion-item *ngIf="interval === 7">
                  <ion-select style="max-width: 100% !important" name="repeatDay" [(ngModel)]="repeatDay">
                    <ion-select-option [value]=0>Sundays</ion-select-option>
                    <ion-select-option [value]=1>Mondays</ion-select-option>
                    <ion-select-option [value]=2>Tuesdays</ion-select-option>
                    <ion-select-option [value]=3>Wednesdays</ion-select-option>
                    <ion-select-option [value]=4>Thursdays</ion-select-option>
                    <ion-select-option [value]=5>Fridays</ion-select-option>
                    <ion-select-option [value]=6>Saturdays</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
          </ion-row>
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <ion-button *ngIf="editModeEnabled" expand="block" mode="ios" (click)="updateTask(id, title, interval, createRefreshDate(time, interval, repeatDay))">
                  Update
                </ion-button>
                <ion-button *ngIf="!editModeEnabled" expand="block" mode="ios" type="submit">
                  Add Task
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button expand="block" color="danger" fill="outline" mode="ios" (click)="clearAll()">Clear
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-list id="task-list"></ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>