<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">GraysList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Add a New Task</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>Repeats</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Never</ion-label>
            <ion-radio id="repeat-never" checked="true" slot="start" value="never"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Daily</ion-label>
            <ion-radio slot="start" value="daily"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Weekly</ion-label>
            <ion-radio slot="start" value="weekly"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-list-header>
          <ion-label>At</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-datetime placeholder="Time" displayFormat="h:mm a"></ion-datetime>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-button expand="block" mode="ios" type="submit">Add Task</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="block" color="danger" fill="outline" mode="ios" type="submit">Clear</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list id="task-list"></ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>